body, html {
	height: 100%;
}

.vertical-center-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*----------------------------
	nav
-----------------------------*/

.navbar-brand svg {
	height: 50px;
	position: relative;
	top: -6px;
	left: -5px;
}

/*----------------------------
	title-display
-----------------------------*/


#title-display {
	height: 100%;
	background: url(img/trees.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: table;
	width: 100%;
}

#title-display img {
	height: 600px;
}


