body, html {
	height: 100%;
}

.vertical-center-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*----------------------------
	nav
-----------------------------*/

header {
	background: black;
	position: fixed;
	width: 100%;
}

nav {
	background: black;
	max-width: 1400px;
	margin: auto;
}

nav ul li a {
	font-family: 'Raleway';
	font-size: 1.2em;
	color: white;
}

.navbar-brand svg {
	height: 40px;
	position: relative;
	top: -6px;
	left: -15px;
}

/*----------------------------
	title-display
-----------------------------*/


#title-display {
	height: 100%;
	background: url(img/coffee.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: table;
	width: 100%;
}

#title-display img {
	height: 360px;
	margin: auto;
	display: block;
}

#logo-back {
	background: navy;
	box-sizing: border-box;
	border: double 15px white;
	width: 400px;
	height: 400px;
	border-radius: 100%;
	margin: auto;
}

/*----------------------------
	menu
-----------------------------*/
#menu {
	margin-top: -20px;
}

.content-top {
	background: #4A4A4A;
	color: white;
	text-align: center;
	padding-top: 20px;
}

ul.nav-tabs {
	font-size: 30px;
	font-family: 'Raleway';
	text-align: center;
	width: 50%;
	display: block;
	margin: auto;
	border-bottom: none;
}

ul.nav-tabs a {
	color: white;
}

.active a {
	border: none !important;
	background: none !important;
	color: white !important;
	border-bottom: #dcc solid 3px !important;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

.menu-listing {
	max-width: 700px;
	margin: auto;
	display: block;
}

#menu svg {
	display: block;
	margin: auto;
	height: 100px;
	width: 100%;
}